<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tom.server.core.index.mapper.IndexMapper">
	<select id="queryUserInfoByMap" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT 
			COUNT(1) 
		FROM 
			USER_INFO 
		WHERE 
			UPPER(LOGIN_NAME) = UPPER(#{username, jdbcType=VARCHAR})
		AND 
			LOGIN_PWD = #{password, jdbcType=VARCHAR}
	</select>
</mapper>